<script type="module">
import {Workbox} from 'https://storage.googleapis.com/workbox-cdn/releases/4.2.0/workbox-window.prod.mjs';

if ('serviceWorker' in navigator) {
    // cache the offline page when the page loads
    window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js');

        caches.open('govuk-ds-saved-pages').then(cache => {
            // always add an updated version of the offline page
            cache.add('/offline/index.html');
        });
    });
}
</script>