---
title: Offline page
description: Design your service using GOV.UK styles, components and patterns
layout: layout-single-page-prose.njk
---

<div class="app-content__header">
    <h1 class="govuk-heading-xl">You are currently offline</h1>
    <div class="app-prose-scope">
        <p>Here are a list of pages that have been saved for offline viewing:</p>
        <ul id="offline-list"></ul>
    </div>
</div>

<script type="module">
// basic SW check
if(navigator.serviceWorker){
    const savedPageCache = 'govuk-ds-saved-pages';

    caches.open(savedPageCache)
    .then(cacheResponse => {
        // extract the keys from the cache
        cacheResponse.keys()
        .then(keys => {
            // start with empty markup
            let markup = '';

            keys.forEach( request => {
                // Grab the stored data from local storage
                const data = JSON.parse(localStorage.getItem(request.url));
                if(data){
                    // build the list
                    markup += `<li><a href="${request.url}">${data.title}</a><p>${data.description}</p></li>`;
                }
            });

            document.getElementById('offline-list').innerHTML = markup;
        })
    });
}
</script>